/**
  global variables
*/
// text
$t-sm: 24px; // small
$t-md: 26px; // middle
$t-lg: 28px; // large
// color
/**
  components: Header
*/
$c-t-gray: #999;
$c-t-white: #fff;
$c-t-black: #505050;
$c-t-black1: #212121;
$c-t-black75: #757575;
$c-t-pink: #fb7299;

$c-bg-gray: #999;
$c-bg-white: #fff;
$c-bg-whitef4: #f4f4f4;
$c-bg-pink: #fb7299;
$c-bg-black: #505050;
/**
  In all page use <svg /> icon
*/
$c-icon-gray: #aaa;
$c-icon-black: #757575;
$c-icon-white: #fff;
